[submodule "resources/inference-common"]
	path = resources/inference-common
	url = https://github.com/aibughunter/inference-common
[submodule "resources/local-inference"]
	path = resources/local-inference
	url = https://github.com/aibughunter/local-inference
